* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Laila", serif;
}

.banner {
	z-index: 1;
}

.container-fluid {
	background: #b1d0bc;
	margin-left: 0px;
}

.upper {
	margin-top: 130px;
}

.con {
	text-align: center;
	margin-top: 40px;
}

.head {
	font-family: "Merienda", cursive;
	font-size: 30px;
}

hr {
	position: relative;
	left: 25%;
}

.card {
	width: 18rem;
	margin-left: 90px;
}

.carsImg {
	height: 50vh;
}

.pack {
	background-image: url("/images/packages1.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 50px;
	padding-top: 70px;
	height: 60vh;
}

.div1 {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}

.treatment {
	font-size: 25px;
	margin-bottom: 30px;
	padding-top: 30px;
}

.dev {
	padding-bottom: 40px;
}

.dev1button {
	margin-right: 16%;
}

.pack1 {
	background-image: url("/images/front.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 70px;
	height: 60vh;
}

.div2 {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}

.dev2button {
	margin-left: 16%;
}

.pack3 {
	background-image: url("/images/faci1.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 70px;
	height: 60vh;
}

.pack4 {
	background-image: url("/images/faci6.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 70px;
	height: 60vh;
}

#navBar1 {
	position: fixed;
	margin-top: -50px;
	width: 100%;
}

#navBar {
	position: fixed;
	margin-top: -50px;
	width: 100%;
	z-index: 1;
}

.nav-item {
	padding-left: 30px;
}

/*about*/

.aboutt {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	background-image: url("/images/border.png");
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 15px;
	margin-top: 20px;
}

.spa {
	font-size: 25px;
	text-align: center;
	color: green;
	margin: 30px;
}

.expert {
	background-image: url("/images/border.png");
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 15px;
	margin-top: 70px;
}

.exp {
	border-radius: 100%;
	width: 150px;
	height: 150px;
	margin-left: 20px;
}

.expertCard {
	background-image: url("/images/bg.jpeg");
}

.exp1 {
	text-shadow: 2px 2px 2px white;
}

/*packages*/

.procedure {
	background-image: url("/images/border.png");
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 15px;
	margin-top: 10%;
	/*margin-left: 10%;*/
}

.procedure1 {
	background-image: url("/images/border.png");
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 15px;
	margin-top: 10%;
	/*margin-left: 10%;*/
}

.aroma {
	margin-top: 120px;
}

.treat {
	background-image: url("/images/border.png");
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 15px;
	margin-top: 5%;
}

.prod {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	position: absolute;
	margin-left: 17%;
	margin-top: -95%;
}

.h1Spa {
	margin-top: 20%;
	font-size: 25px;
}

.purchase {
	background-image: url("/images/border.png");
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 15px;
	margin-top: 5%;
}

/*facilities*/
.image5 {
	width: 100%;
	height: 300px;
}

.txt1 {
	font-size: 25px;
	text-shadow: 2px 2px 2px pink;
}

.image6 {
	width: 100%;
	height: 300px;
}

.txt2 {
	font-size: 25px;
	text-shadow: 2px 2px 2px pink;
}

/*reservation*/
.reserved {
	background-image: url("/images/border.png");
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.reserveButton {
	margin-left: 110px;
	margin-top: 60px;
}

/*poackage modal*/

.modal-backdrop.show {
	z-index: 10;
}

#gmap {
	width: 100%;
	height: 350px;
	border: 0;
}

/*Gallery*/

.image1 {
	display: block;
	width: 100%;
	height: 300px;
	position: relative;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: 0.5s ease;
}

.con:hover .overlay {
	height: 100%;
}

.text {
	white-space: nowrap;
	color: black;
	font-size: 25px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/*signup*/
.signupCover {
	width: 100%;
	height: 470px;
	border-radius: 50px;
}

/*media Queries*/
/*mobile style*/
@media only screen and (max-width: 415px) {
	/*home*/

	/*#navBar {
		padding-right: 100%;
	}*/

	.carsImg {
		height: 200px;
	}

	.head {
		font-size: 20px;
	}

	.par {
		margin: 5px;
	}

	.wed {
		font-size: 15px;
		position: center;
	}

	.homeCard {
		margin-bottom: 10px;
		margin-left: -0px;
		margin-left: 40px;
	}

	.pack {
		height: 450px;
	}

	.div1 {
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 5px;
		margin-left: -0px;
	}

	.treatment {
		font-size: 15px;
	}
	.dev1button {
		position: absolute;
		margin-left: 32%;
	}

	.pack1 {
		height: 450px;
	}

	.div2 {
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 5px;
		margin-left: -0px;
	}

	.dev2button {
		position: absolute;
		margin-left: 32%;
	}

	.pack3 {
		height: 450px;
	}

	.pack4 {
		height: 450px;
	}

	/*about*/
	.expertCard {
		margin-bottom: 10px;
		margin-left: -0px;
		margin-left: 30px;
	}

	.exp {
		margin-left: 100px;
		width: 100px;
		height: 100px;
	}

	p {
		font-size: 13px;
	}

	/*packages*/
	.procedure {
		padding-top: 25px;
		margin-top: 25%;
		width: 85%;
	}

	.prod {
		width: 150px;
		height: 150px;
		margin-left: 22%;
		margin-top: -95%;
	}

	.procedure1 {
		padding-top: 25px;
		margin-top: 25%;
		width: 85%;
		margin-left: 8%;
	}

	.pic {
		width: 100px;
		margin-left: 60px;
	}

	.h1Spa {
		margin-top: -0px;
	}
}

/*tablet style*/
@media only screen and (min-width: 410px) and (max-width: 960px) {
	/*#navBar {
		padding-right: 100%;
	}*/
}

/*Desktop style*/
@media only screen and (min-width: 961px) {
}
